<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form>
<fieldset>
<legend>Общая информация</legend>
<div>
    <label for="surname">Фамилия</label>
    <input type="text" name="surname" placeholder="Иванов">
    <p></p>
    <label for="name">Имя</label>
    <input type="text" name="name" placeholder="Иван">
    <p></p>
    <label for="name">Отчество</label>
    <input type="text" name="name" placeholder="Иванович">
     <p></p>
    <label for="name">email</label>
    <input type="text" name="name" placeholder="mail@mail.ru">
</div>
</fieldset>
<p></p>
<fieldset>
<legend>Пол</legend>
<div>
<input type="radio" id="men" name="men_name" value="men">
<label for="men">М</label>

<input type="radio" id="women" name="women_name" value="women">
<label for="women">Ж</label>
</div>
</fieldset>
<p></p>

<fieldset>
    <legend>Хобби</legend>
    <div>
<input type="checkbox" id="choice1" name="hobby" value="painting">
<label for="choice1">Рисование</label>

<input type="checkbox" id="choice2" name="hobby" value="reading">
<label for="choice2">Чтение</label>

<input type="checkbox" id="choice3" name="hobby" value="wiazanije">
<label for="choice3">Вязание</label>

<input type="checkbox" id="choice4" name="hobby" value="cooking">
<label for="choice4">Кулинария</label>


    </div>
</fieldset>
<p></p>
<p></p>
<button>Отправить</button>
<button>Очистить</button>



</form>

</body>
</html>